/* FONTS */

@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
    url('../fonts/pt_sans-web-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sansitalic';
    src: url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
    url('../fonts/pt_sans-web-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
    url('../fonts/pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*COMMON STYLES*/

html {
    background-color: #f2f2f2;
}


body {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-family: "pt_sansregular";
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 5px grey;
}

h4 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: "PTSans";
}


.main_navigation {
    outline: dashed red;
    position: relative;
    width: 88%;
    margin: 0 auto;
}

.main_navigation_logo {
    position: absolute;
    width: 138px;
    height: 70px;
    
    left: 50%;
    margin-left: -69px;
}

.main_navigation_list {
    margin: 0;
    padding: 0;
}

.main_navigation_list>li {
    display: inline-block;
    line-height: 26px;
    padding: 15px 0;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-family: "pt_sansbold";
}

.main_navigation_list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.main_navigation_list a:hover {
    color: #81b3d2;
}

.main_navigation_list a:active {
    opacity: 0.3;
}





.main_navigation_list>li:nth-child(1),
.main_navigation_list>li:nth-child(2) {
    float: left;
}

.main_navigation_list>li:nth-child(3),
.main_navigation_list>li:nth-child(4){
    float: right;
}



.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

.gag {
    display: none;
}

.footer {
    height: 120px;
    outline: dashed fuchsia;
    z-index: 2;
}

.footer_hashtag,
.footer_social,
.footer_copyright
{
    float: left;
    width: 240px;
    height: inherit;
    outline: auto;
}
.footer_social {
    width: 400px;
    margin: 0 83px;
}
.footer_hashtag {
    margin-left: 73px;
}
.footer_copyright {
    margin-right: 73px;
}

/*---------------------------*/


/* INDEX styles*/

.main_header {
    min-height: 780px;
    outline: dotted #407bff;
}

.intro_block {
    height: 725px;
    outline: dotted #f6ff29;
}

.main_content {
    height: 1860px;
    outline: dotted coral;
}

.one_third {
    width: 400px;
    outline: dashed #17f7ff;
}

.height_255 {
    height: 255px;
}

.real_town {
    outline: auto;
}

.real_town_text {
    height: inherit;
    float: left;
}
.real_town_photo {
    float: left;
    width: 800px;
    outline: dashed chartreuse;
}
.real_town_photo>img {
    display: block;
}

.advantages {
    height: 330px;
}
.habitation, .food, .souvenirs {
    height: inherit;
    float: left;
}
.devil_bridge {
    outline: auto;
}
.devil_bridge_photo {
    float: left;
    height: inherit;
}
.devil_bridge_photo>img {
    display: block;
}
.devil_bridge_text {
    float:right;
    height: inherit;
}
.other_reasons {
    outline: dashed mediumvioletred;
}

.other_reasons_text {
    height: inherit;
    float: left;
}

.find_hotel {
    height: 289px;
    padding-top: 1px;
    outline: auto;
    position: relative;
}

.find_hotel_service {
    position:absolute;
    width: 570px;
    top: 294px;
    left: 50%;
    margin-left: -250px;
}

.google_map {
    height: 475px;
    position: relative;
    outline: dashed chartreuse;
}
.google_map>img {
    width: inherit;
    display: block;
    position: absolute;
    z-index: -1;

}

/*---------------------------*/


/* INNER (hotels) styles*/
.main_header_inner {
    height: auto;
    outline: dotted #407bff;
}

.inner_content {
    height: 758px;
    outline: dotted coral;
}


.filter {
    height: 215px;
    outline: auto;
}

.infrastructure,
.habitation_type {
    float: left;
    width: 240px;
    height: inherit;
    outline: dotted chartreuse;
}

.infrastructure {
    margin-left: 72px;
}

.price_show {
    float: right;
    width: 330px;
    height: inherit;
    margin-right: 72px;
    outline: dotted chartreuse;
}

.results {
    padding-top: 1px;
    padding-left: 72px;
    padding-right: 72px;
    height: 537px;
    outline: dotted coral;
}

.results_sorting {
    height: 84px;
    outline: dashed cornflowerblue;
}
.results_sorting_left {
    float: left;
    height: inherit;
    outline: dashed;
}
.results_sorting_left>h4,
.results_sorting_list,
.results_sorting_list li{
    display: inline-block;
}

.sort_up_down {
    float: right;
    height: inherit;
    outline: dashed;
}

.results>article {
    outline: dashed fuchsia;
    height: 150px;
}

.habitation_result_info {
    float: left;
    width: 528px;
    height: inherit;
    outline: dotted chartreuse;
}

.preview {
    float: left;
}

.book {
    float: left;
    margin-left: 27px;
}



.habitation_result_rate {
    float: right;
    width: 240px;
    height: inherit;
    outline: dotted chartreuse;
    text-align: right;
}

.stars li {
    display: inline-block;
}